.container
  %h1 Liste des personnes
  %table.table.table-striped
    %thead
      %tr
        %th{ scope: "col" } #
        %th{ scope: "col" } Nom
        %th{ scope: "col" } Points de vie
        %th{ scope: "col" } Points d'attaque
        %th{ scope: "col" } Points d'expérience
        %th{ scope: "col" } Avatar
        %th Actions


    %tbody
      - @characters.each do |character|
        %tr
          %th{ scope: "row" }
            = character.id
          %td
            = character.name
          %td
            = character.life_points
          %td
            = character.attack_points
          %td
            -# = character.exp
          %td
            - if character.avatar.attached?
              = image_tag character.avatar, class: 'avatar-image img-thumbnail', width: '32', height: '32'
            - else
              = image_tag 'default_image.png', class: 'avatar-image img-thumbnail', width: '32', height: '32'

          %td
            = link_to 'Voir', character, class: 'btn btn-primary'
            = link_to 'Modifier', edit_character_path(character), class: 'btn btn-secondary'
            = form_with(model: character, method: :delete, data: { confirm: 'Are you sure?' }, class: 'd-inline') do |form|
              = form.submit 'Supprimer', class: 'btn btn-danger'

  = link_to 'Nouveau personnage', new_character_path, class: "btn btn-success"